
body {
    background-image: linear-gradient(45deg, rgba(95,178,255,1) 0%, rgba(162,210,255,1) 19%, rgba(189,224,254,1) 31%, rgba(255,200,221,1) 53%, rgba(255,175,204,1) 71%, rgba(205,180,219,1) 100%);
}

.sun {
    height: 200px;
    width: 200px;
    background-color: #e9c46a;
    border-radius: 50%;
    position: absolute;
    top: 205px;
    right: 350px;
    z-index: 1;
}

.sun-back {
    height: 240px;
    width: 240px;
    background-color: #f4a261;
    border-radius: 50%;
    position: absolute;
    top: 190px;
    right: 330px;
    z-index: 0;
}


.sun-reflect {
    height: 150px;
    width: 200px;
    background-color: #e9c46a;
    border-radius: 50%;
    position: absolute;
    top: 465px;
    right: 350px;
    z-index: 1;
}

.water {
    position: absolute;
    top: 450px;
    ight: 30px;
    height: 600px;
    width: 2000px;
    background-color: #005f73;
    z-index: -5;
  }


.sun-reflect-back {
    height: 190px;
    width: 240px;
    background-color: #f4a261;
    border-radius: 50%;
    position: absolute;
    top: 450px;
    right: 330px;
    z-index: 0;
}

.mountain-one {
    width: 0;
    height: 0;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    top: 200px;
    right: 540px;
    position: absolute;
    z-index: 5;
    border-bottom: 300px solid #656d4a;
}

.mountain-two {
    width: 0;
    height: 0;
    border-left: 500px solid transparent;
    border-right: 500px solid transparent;
    top: 210px;
    right: 700px;
    position: absolute;
    z-index: 5;
    border-bottom: 300px solid #414833;
}

.mountain-three {
    width: 0;
    height: 0;
    border-left: 250px solid transparent;
    border-right: 500px solid transparent;
    top: 190px;
    right: 300px;
    position: absolute;
    z-index: 4;
    border-bottom: 300px solid #a4ac86;
}

.mountain-five {
    width: 0;
    height: 0;
    border-left: 300px solid transparent;
    border-right: 700px solid transparent;
    top: 220px;
    right: 900px;
    position: absolute;
    z-index: 5;
    border-bottom: 300px solid #333d29;
}

.mountain-six {
    width: 0;
    height: 0;
    border-left: 750px solid transparent;
    border-right: 50px solid transparent;
    top: 180px;
    right: -100px;
    position: absolute;
    z-index: 1;
    border-bottom: 300px solid #c2c5aa;
}
